@import '../../scss/vars.scss';
.card {
  height: 184px;
  background-color: white;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  padding: 20px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    margin-bottom: 20px;
  }
  &__header-price {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: $mainColor;
  }
  &__header-logo {
    height: 100%;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
    display: flex;
  }
  &__list-item {
    width: 35%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    &:nth-child(2) {
      width: 30%;
    }
  }
  &__list-description {
    width: 100%;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $descriptionColor;
  }
  &__list-text {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $textColor;
  }
}
