@import '../../scss/vars.scss';
.btn {
  width: 100%;
  border-radius: $borderRadius;
  background-color: $mainColor;
  height: 50px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 400ms linear;
  &:hover {
    transform: scale(1.02);
  }
}
